<!DOCTYPE html>
<html ng-app="TimetableApp" ng-controller="mainController">
<head>
    <title>{{ Page.title }} - TimetableApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularapp")
</head>
<body ng-keydown="handleKeyDown($event)">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/UI.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>