<!DOCTYPE html>
<html>
<head>
    <title>TimetableApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularapp")
</head>
<body ng-app="TimetableApp" ng-controller="mainController">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>